/bimrocket-common/target/
/bimrocket-server/target/
/bimrocket-webapp/target/

/bimrocket-server/docker/orientdb_data/
/bimrocket-server/nbproject/
/bimrocket-common/nbproject/
/bimrocket-server-war/target/
/bimrocket-server-war/nbproject/
/bimrocket-server/bimrocket-server-war/nbproject/
/bimrocket-server/bimrocket-server-war/target/
/bimrocket-server-tomcat/target/
/bimrocket-server/bimrocket-server-tomcat/target/
/bimrocket-server/bimrocket-server-common/target/
/bimrocket-server/bimrocket-server-mongodb/target/
/bimrocket-server/bimrocket-server-orientdb/target/
/bimrocket-server/bimrocket-server-blobstorage/target/
/bimrocket-service/bimrocket-server-blobstorage/target/
/bimrocket-service/bimrocket-server-common/target/
/bimrocket-service/bimrocket-server-mongodb/target/
/bimrocket-service/bimrocket-server-orientdb/target/
/bimrocket-service/bimrocket-server-tomcat/target/
/bimrocket-service/bimrocket-server-war/target/
/bimrocket-service/bimrocket-server-war/nbproject/
/bimrocket-service/bimrocket-service-common/target/
/bimrocket-service/bimrocket-service-mongodb/target/
/bimrocket-service/bimrocket-service-orientdb/target/
/bimrocket-service/bimrocket-service-blobstorage/target/
/bimrocket-tomcat/target/
/bimrocket-quarkus/target/
/bimrocket-service/bimrocket-service-core/target/
/bimrocket-service/bimrocket-service-file-azure/target/
/bimrocket-quarkus/running
/bimrocket-ifc-processor/target/
/bimrocket-console/target/

.vscode/
