/*
    Created on : 29 mar 2026, 10:00:31
    Author     : realor
*/

.fileexplorer_panel
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height:100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.fileexplorer_panel .header
{
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  margin:2px;
  margin-bottom: 0;
  align-items: center;
  column-gap: 2px;
}

.fileexplorer_panel > .header > .image_button
{
  flex-grow: 0;
  width: 20px;
  height: 20px;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  cursor: pointer;
  border-radius: 2px;
  background-color: #f6f6f6;
  border:none;
  box-shadow: none;
}

.fileexplorer_panel > .header > .image_button.home
{
  left:0;
  background-image: url(images/home.svg);
}

.fileexplorer_panel > .header > .image_button.back
{
  left:24px;
  background-image: url(images/back.svg);
}

.fileexplorer_panel >.header > .image_button:hover
{
  background-color: #ffb0b0;
}

.fileexplorer_panel >.header > .image_button:focus
{
  outline:1px dotted black;
}

.fileexplorer_panel > .header > .directory
{
  flex-grow: 1;
  font-size: 13px;
  font-weight:normal;
  text-align: left;
  line-height: 20px;
  padding:1px;
  padding-left: 2px;
  color: #804040;
  border: 1px solid #c0c0c0;
  direction: rtl;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileexplorer_panel > .path_entries
{
  flex-grow: 1;
  padding-left: 0;
  overflow-y: auto;
  margin:2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  border:1px solid #c0c0c0;
  padding-bottom: 40px;
}

.fileexplorer_panel > .footer
{
  width:100%;
  flex-grow: 0;
}

.fileexplorer_panel > .footer > .buttons_panel
{
  text-align: center;
}

.fileexplorer_panel .entry
{
  list-style-type: none;
  text-align: left;
}

.fileexplorer_panel .entry > a
{
  display:block;
  text-decoration: none;
  color: #404040;
  cursor:pointer;
  padding: 2px;
  padding-left: 20px;
  font-size:13px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  border: 1px solid transparent;
}

.fileexplorer_panel .entry > a:hover
{
  color:black;
  animation: item_hover 1s;
  background-color: #C0C0C0;
  color: black;
}

.fileexplorer_panel .entry > a:focus
{
  border: 1px dotted black;
  outline:none;
}

.fileexplorer_panel .entry.service > a
{
  font-weight:bold;
  background-image: url(images/file/service.svg);
}

.fileexplorer_panel .entry.collection > a
{
  background-image: url(images/file/collection.svg);
}

.fileexplorer_panel .entry.file > a
{
  color: #606060;
  background-image: url(images/file/file.svg);
}

.fileexplorer_panel .entry.selected > a,
.fileexplorer_panel .entry.selected > a:hover
{
  color:black;
  background-color:#F0A0A0;
  animation: none;
}

.fileexplorer_panel .entry.file.brf > a
{
  background-image: url(images/file/brf.svg);
}

.fileexplorer_panel .entry.file.ifc > a
{
  background-image: url(images/file/ifc.svg);
}

.fileexplorer_panel .entry.file.image > a
{
  background-image: url(images/file/image.svg);
}

.fileexplorer_panel .entry.file.model3d > a
{
  background-image: url(images/file/model3d.svg);
}

.fileexplorer_panel .entry.file.pdf > a
{
  background-image: url(images/file/pdf.svg);
}

.fileexplorer_panel .entry.file.report > a
{
  background-image: url(images/file/report.svg);
}

.fileexplorer_panel .entry.file.script > a
{
  background-image: url(images/file/script.svg);
}

.fileexplorer_panel .entry.file.snapshot > a
{
  background-image: url(images/file/snapshot.svg);
}